html
  head
    title=title
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    body
      div.container
        div.jumbotron
          h1 Usuario creado con exito!
          p
            span.small
            span &nbsp;
            a.small(href=organizador) ir a Inicio
