html
  head
    title=title
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    body
      div.container
        div.jumbotron
          h1 Sistema de Conferencias TBD
          p Bienvenido a TBD, estas listo para empezar?
          p
            a.btn.btn-primary(href="/login") Entrar
          p
            span.small No tienes una cuenta?
            span &nbsp;
            a.small(href="/register") Registrate ahora!
